# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore config files
# .env
.vscode
.idea

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log
logs
*.rdb

# Ignore local scripts
scripts/
docker-compose.yaml
docker-compose.override.yaml

# Ignore git files
.git
.gitignore

# Ignore any build artifacts
dist
coverage
